# # dependencies
# /node_modules/

# # passwords
# .env

# # agents no clue what this 
# /Agents/

# # ingest data
# /Ingest\ Data/

# # Telegram bot 
# /Telegram\ Bot/

# # old website 
# /Website/

# # FRIDAY API
# /api/

# # FRIDAY dev
# /dev/
