@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;
  transition: all 300ms ease;
  background: white;
}

.logo {
  display: flex;
  height: 5rem;
  font-weight: bold;
  font-size: 25px;
  font-family: "Anton";
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 4%;
}
.logo > span > span {
  color: black;
}
.logo > span {
  color: #447604;
}
.logo > img {
  width: 2.5rem;
  height: 2.5rem;
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: pointer;
}

.bars{
  display: none;
}

.menu {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.menuItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.5rem;
  margin-left: 2rem;
  position: relative;
  transition: all 300ms ease;
  border-radius: 0.7rem;
  font-size: 14px;
  color: black;
}

.menuItem:hover {
  cursor: pointer;
}

.active {
  color: white;
  background: var(--activeItem);
  margin-left: 0;
}
.active::before {
  content: "";
  width: 8px;
  height: 100%;
  background: black;
  margin-right: calc(1rem - 8px);
}